/* SMALL DEVICES */
@media (min-width:374px) and (max-width:812px)  {
    .container {
        padding: 0 5px;
    }

    
    .hero {
        display: flex ;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;
        width: 100%;
        padding: 0px 40px;
        margin-bottom: 40px;
        margin: 0 auto;
  
    }

    .row__title {
        text-align: center !important;
    }

    .icon-box {
        margin: 0;
    }

    .three {
        order: 1;
        padding: 0;
    }

    .menu-link-active {
        padding: 10px 20px;
        display: block;
        order: 1;
    }

    .div-btn {
        display: flex !important;
        align-items: center !important;
        flex-direction: column !important;
        margin: 10px auto 0px auto;
    }

    .img-wrapper {
        max-width: 300px;
        margin-top: 20px;
    }

    .row__p {
        text-align: center !important;
        margin-bottom: 10px;
    }

    .menu__links {
        display: none;
    }

    .row {
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    .row__title {
        font-size: 1.7rem;
    }

    .section-four {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .meal__container {
        display: flex;
        flex-direction: column;
        padding: 0px 50px;
        margin-bottom: 20px;
        width: calc(100% /3);
    }

}


/* TABLET DEVICES */
@media (min-width:809px) and (max-width:1081px) {
    .meal__container {
        display: flex;
        flex-direction: column;
        padding: 0px 20px;
        margin-bottom: 20px;
        width: calc(100% /3) !important;
        flex-wrap: wrap;
    }

    .hero {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .section-four {
        width: 100%;
        display: flex;
        display: flex;
        flex-direction: column;
    }
}

/* DESKTOP */
@media (max-width:992px) {
    .meal__container {
        margin-bottom: 20px;
        width: calc(100%);
        display: flex;
    }

    .section-four {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .hero {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .row {
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 10px;
        justify-content: center;
        align-items: baseline;
    }

    .row__title-p {
        padding: 5px 15px;
        display: inline-block;
        font-size: 1.2rem;
    }

    .row__title {
        font-size: 1.5rem;
        text-align: left;
    }

    .row__p {
        font-size: 0.9rem;
        margin-bottom: 0px;
        text-align: left;
        margin-top: 5px;
    }

    .div-btn {
        padding: 0px;
    }

    .img-class {
        max-width: 300px !important;
    }

    .img-class {
        max-width: 350px;
    }

    .div-btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .icon-box {
        margin: 10px;
    }

    .menu__links{
        display: none;
    }
    .three{
        order: 2;
        margin-left: 50px;
    }
}